<?xml version="1.0"?>
<launch>
	<!-- VIDEO SOURCE -->
	<arg name="input" default="csi://0"/>
	<arg name="input_width" default="1280"/>
	<arg name="input_height" default="720"/>
	<arg name="input_framerate" default="120"/>
	<arg name="input_codec" default="unknown"/>
	<arg name="input_loop" default="0"/>
	<arg name="input_latency" default="2000"/>
	<arg name="input_flip" default="horizontal-flip"/>
	
	<node pkg="ros_deep_learning" exec="video_source" output="screen">
		<param name="resource" value="$(var input)"/>
		<param name="width" value="$(var input_width)"/>
		<param name="height" value="$(var input_height)"/>
		<param name="codec" value="$(var input_codec)"/>
		<param name="loop" value="$(var input_loop)"/>
		<param name="latency" value="$(var input_latency)"/>
		<param name="framerate" value="$(var input_framerate)"/>
		<param name="flip" value="$(var input_flip)"/>
	</node>

    <!-- DETECTOR -->
    <include file="$(find-pkg-share rrbot_cam_object_detector)/launch/detector.launch.py"/>

	<!-- VIDEO OUTPUT -->
	<include file="$(find-pkg-share ros_deep_learning)/launch/video_output.ros2.launch">
		<arg name="topic" value="/debug_image"/>
		<arg name="output_bitrate" value="0"/>
        <arg name="output" value="webrtc://@:8554/output"/>
 	</include>

</launch>